{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "array-bracket-spacing": ["error", "always", { "singleValue": true, "objectsInArrays": false, "arraysInArrays": false }],
        "block-scoped-var": ["error"],
        "brace-style": ["error"],
        "camelcase": ["error"],
        "comma-spacing": ["error", { "before": false, "after": true }],
        "comma-style": ["error", "last"],
        "complexity": ["error", { "max": 10 }],
        "computed-property-spacing": ["error", "never"],
        "curly": ["error", "all"],
        "default-case": ["error"],
        "eol-last": ["error"],
        "eqeqeq": ["error"],
        "global-require": ["error"],
        "guard-for-in": ["error"],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "key-spacing": ["error"],
        "keyword-spacing": ["error"],
        "max-depth": ["error", { "max": 3 }],
        "max-len": ["error", 120],
        "max-nested-callbacks": ["error", 3],
        "max-params": ["error", 3],
        "max-statements": ["error", 20],
        "max-statements-per-line": ["error"],
        "no-alert": ["error"],
        "no-eq-null": ["error"],
        "no-extend-native": ["error"],
        "no-floating-decimal": ["error"],
        "no-lone-blocks": ["error"],
        "no-lonely-if": ["error"],
        "no-magic-numbers": ["error", { "ignore": [1, -1, 0] }],
        "no-mixed-requires": ["error"],
        "no-mixed-spaces-and-tabs": ["error"],
        "no-multi-spaces": ["error"],
        "no-multiple-empty-lines": ["error"],
        "no-nested-ternary": ["error"],
        "no-plusplus": ["error"],
        "no-return-assign": ["error"],
        "no-sequences": ["error"],
        "no-spaced-func": ["error"],
        "no-throw-literal": ["error"],
        "no-trailing-spaces": ["error"],
        "no-undef": ["error"],
        "no-unneeded-ternary": ["error"],
        "no-use-before-define": ["error"],
        "no-whitespace-before-property": ["error"],
        "object-curly-spacing": ["error", "always"],
        "one-var-declaration-per-line": ["error"],
        "radix": ["error"],
        "semi": ["error"],
        "space-before-function-paren": ["error", "never"],
        "space-in-parens": ["error"],
        "spaced-comment": ["error", "always"],
        "vars-on-top": ["warn"],
        "yoda": ["error"]
    }
}
